body {

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

sup {
  vertical-align: super;
}

del[hand="#PBS"][rend="blackink"] {
  text-decoration: underline;
}

hi[rend="sup"] {
  vertical-align: super;
}

.circled {
  border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    border: 2px solid #666;
    color: #000;
    text-align: center;
    font: 32px Arial, sans-serif;
}

/* Reset some default Bootstrap styles */
body, h1, h2, h3, p, ul, table {
    margin: 0;
    padding: 0;
}

/* Add padding and center text for the main content */
.container-fluid {
    padding: 20px;
}

/* Center text in the starter template */
.starter-template {
    text-align: center;
}

/* Make images responsive */
img {
    max-width: 100%;
    height: auto;
}


/* Style the dropdown menu */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Add a bottom margin to links */
ul li a {
    margin-bottom: 50px;
}

/* Style the footer with attribution */
footer {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #888;
}
